<div id="page" class="container">
    <div id="content">
        <div class="title">
            <h2>About eSales</h2>
            <span class="byline">Sell more with eSales</span> </div>
        <p>eSales offers the opportunity to publish a free ad for your city and its surroundings. You will easily find interesting free classifieds in Bucharest, Ilfov and other cities in the country and you will be able to easily get in touch with those who have published them. On eSales you are waiting for jobs, apartments and rooms for rent, second-hand cars and mobile phones at low prices. If you want to sell something, you can easily add free classified ads. If you want to buy something here you can find the products that interest you at lower prices than in any store. All these ads are published for free and without the need to create an account user.</p>
    </div>
    <div id="sidebar">
        <div class="box2">
            <div class="title">
                <h2>6 Good Reasons to Sell Online</h2>
            </div>
            <ul class="style2">
                <li>You Can Make Money Selling Online</li>
                <li>Customers are already there</li>
                <li>You can move old stock</li>
                <li>Shoppers Are Online Already</li>
                <li>Mobile Devices Are the Next Retail Driver</li>
                <li>Starting an Ecommerce Business is Easy</li>
            </ul>
        </div>
    </div>
</div>