<div id="page" class="container">

    {% if logged_in %}
        <div class="success"><h3>You have been successfully logged in!</h3></div>
    {% else %}
        <div class="info"><h3>You are not logged in!</h3></div>

        <form class="form-signin" method="POST">
            <h2 class="form-signin-heading">Please Login</h2>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Username</span>
                <input type="text" name="username" class="form-control" placeholder="Username" required>
            </div>

            <div class="input-group">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            </div>

            <button class="button" type="submit">Login</button>
        </form>
    {% endif %}
</div>