<div id="footer-wrapper">
    <div id="footer" class="container">
        <div id="box1">
            <div class="title">
                <h2>Latest Post</h2>
            </div>
            <ul class="style1">
                <li><a href="#">Semper mod quis eget mi dolore</a></li>
                <li><a href="#">Quam turpis feugiat sit dolor</a></li>
                <li><a href="#">Amet ornare in hendrerit in lectus</a></li>
            </ul>
        </div>
        <div id="box2">
            <div class="title">
                <h2>Popular Links</h2>
            </div>
            <ul class="style1">
                <li><a href="#">Semper mod quis eget mi dolore</a></li>
                <li><a href="#">Quam turpis feugiat sit dolor</a></li>
                <li><a href="#">Amet ornare in hendrerit in lectus</a></li>
            </ul>
        </div>
        <div id="box3">
            <div class="title">
                <h2>Follow Us</h2>
            </div>
            <p>Proin eu wisi suscipit nulla suscipit interdum. Aenean lectus lorem, imperdiet magna.</p>
            <a href="#" class="icon icon-plus-sign button">Read More</a> </div>
    </div>
</div>
<div id="copyright" class="container">
    <p>&copy; eSales. All rights reserved | Hangea Cristian</p>
</div>