<div id="menu-wrapper">
    <div id="menu" class="container">
        <ul>
            <li><a href="{{ base_url }}">Homepage</a></li>
            <li><a href="{{ base_url }}/index.php/products">Products</a></li>
        </ul>
    </div>
</div>